# Project 1 -- Rafee Adnan

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

128000: Amount of cores for subcluster a

256000: Amount of memory in GB for subcluster a

My computer has 8 gigabytes of RAM and 4 cores

The first two answers were achieved by multiplying the number of cores by the number of nodes in the subcluster and by multiplying the amount of memory by the amount of nodes in the subcluster. The last answer was found by looking at my computer's task manager that shows the memory and the number of cores.

## Question 2

In [6]:
%%R

system("hostname", intern=TRUE)

[1] "a242.anvil.rcac.purdue.edu"

The function in R above returns the hostname.

## Question 3

In [8]:
my_list = [1, 2, 3]
print(f'My list is: {my_list}')

My list is: [1, 2, 3]

In [9]:
%%sql

sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
SELECT * FROM titles LIMIT 5;

Done.

[('tt0000001', 'short', 'Carmencita', 'Carmencita', 0, 1894, None, 1, 'Documentary,Short'),
 ('tt0000002', 'short', 'Le clown et ses chiens', 'Le clown et ses chiens', 0, 1892, None, 5, 'Animation,Short'),
 ('tt0000003', 'short', 'Pauvre Pierrot', 'Pauvre Pierrot', 0, 1892, None, 4, 'Animation,Comedy,Romance'),
 ('tt0000004', 'short', 'Un bon bock', 'Un bon bock', 0, 1892, None, 12, 'Animation,Short'),
 ('tt0000005', 'short', 'Blacksmith Scene', 'Blacksmith Scene', 0, 1893, None, 1, 'Comedy,Short')]

In [11]:
%%bash

awk -F, '{miles=miles+$19}END{print "Miles: " miles, "\nKilometers:" miles*1.609344}' /anvil/projects/tdm/data/flights/subset/1991.csv

Miles: 3263678656
Kilometers:5.25238e+09

The first code cell created a list of numbers and printed the list out. The second code cell is an SQL command that retrieves information from the first 5 titles of the dataset in the directory: anvil/projects/tdm/data/movies_and_tv/imdb.db. The last code cell is a bash command that retrieves the number of miles from a subset of data in the directory: /anvil/projects/tdm/data/flights/subset/1991.csv and converts from miles to Kilometers.

## Question 4

There are 13 markdown cells and 5 code cells in a project template.

This was achieved by counting the number of markdown cells and the number of code cells in a template.

## Question 5

In [12]:
#Python code here
1000 * 128

128000

In [11]:
#Python code here
1000 * 256

256000

In [11]:
%%R

1000 * 128

[1] 128000

In [9]:
%%R

1000 * 256

[1] 256000

In [12]:
#R code above

These are the calculations for question number 1.

## Question 6

In [16]:
%%R

dat <- read.csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [18]:
%%R

head(dat)

        date            datetime SACTMIN SPOSTMIN
1 05/26/2017 2017-05-26 09:06:38      NA     -999
2 05/26/2017 2017-05-26 09:10:11      47       NA
3 05/26/2017 2017-05-26 09:10:12      NA        5
4 05/26/2017 2017-05-26 09:17:09      NA       60
5 05/26/2017 2017-05-26 09:24:07      NA       60
6 05/26/2017 2017-05-26 09:30:10      NA       60

The head function returns the first 6 rows of data from the dataset variable, "dat", that read into the dataset located in the file: /anvil/projects/tdm/data/disney/flight_of_passage.csv

## Question 7

Created r file and py file consisting of r code and python code respectively.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.